<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }


  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #35944B;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .is-required {
    content: "* ";
		color: red;
		font-weight: bold;
  }

  .formulario {
    display: flex;
    flex-direction: row;
  }

  .columnaA {
    margin: 5%;
  }

  .columnaB {
    margin: 5%;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>

<div class="content" role="main">

  <!-- Resources -->
      <h2>Formulario de inscripción</h2><br>
    <div style="border-width:1px;border-style:solid;border-color:black;">
      <div style="border-width:1px;border-style:solid;border-color:black;font-size: x-large;display: flex; justify-content: center;">Otra informacion</div>
      <div style="margin:5%;">
        <div class="formulario">
          <div class="columnaA">
            <div>
              <label>Género:</label><label class="is-required">*</label><br>
              <input type="text" style="width: 370px;"><br><br>
            </div>
            <div>
              <label>Sufragó en las últimas elecciones:</label><label class="is-required">*</label><br>
              <input type="text" id="Genero" name="Genero" style="width: 370px;"><br><br>
            </div>
            <div>
              <label>Estado civil:</label><label class="is-required">*</label><br>
              <input type="text" id="Genero" name="Genero" style="width: 370px;"><br><br>
            </div>
            <div>
              <label>Tipo de apoyo que solicita para la presentación </label><br>
              <label>del examen de admisión:</label>
              <label class="is-required">*</label><br>
              <p><button (click)="mostrarTiposApoyo()">Modal</button></p>
            </div>
          </div>

          <div class="columnaB">
            <div>
              <label>Lugar de donde se conecta:</label><label class="is-required">*</label><br>
              <input type="text" id="lname" name="lname" style="width: 370px;"><br><br>
            </div>
            <div>
              <label>Grupo étnico:</label><label class="is-required">*</label><br>
              <input type="text" id="lname" name="lname" style="width: 370px;"><br><br>
            </div>
            <div>
              <label>Discapacidad:</label><label class="is-required">*</label><br>
              <select name="discapacidad" id="discapacidad" [(ngModel)]="discapacidadSeleccionado" (change)="capturar();">
                <option value="ciegas">Personas ciegas</option>
                <option value="baja_vision">Personas con baja vision</option>
                <option value="hipoacusia">Persona con hipoacusia</option>
                <option value="señante">Persona sordo señante</option>
                <option value="oralizada">Personas sordo oralizada</option>
                <option value="sordoceguera">Persona sordo ceguera</option>
                <option value="miembros_superiores">Persona con compromiso de miembros superiores</option>
                <option value="miembros_inferiores">Persona con compromiso de miembros inferiores</option>
                <option value="miembros_superiores_inferiores">Persona con compromiso de miembros superiores e inferiores</option>
                <option value="intelectual">Discapacidad intelectual</option>
                <option value="psicosocial_mental">Discapacidad psicosocial mental</option>
                <option value="multiple">Discapacidad multiple</option>
                <option value="talla_baja">Discapacidad talla baja</option>
              </select><br><br>
            </div>
          </div>
              
        </div>
      </div>
    </div>
      
  </div>


  <ng-template #myModalInfo let-modal>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tipos de apoyo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')"> 
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        
        <div>
            <p>
                La universidad le presenta los tipos de apoyo sugeridos, por favor seleccione la opcion mas acorde a sus necesidades.
            </p><br>
            <p>Apoyo de accesibilidad fisica:</p>
            <input type="radio" id="apoyo_escaleras" name="accesibilidad" value="apoyo_escaleras">
            <label for="apoyo_escaleras">Apoyo por dificultad en emplear escaleras</label><br>
    
            <input type="radio" id="no_apoyo_escaleras" name="accesibilidad" value="no_apoyo_escaleras">
            <label for="no_apoyo_escaleras">No requiero apoyo de accesibilidad fisica</label><br><br>
          </div>
          
          <div *ngIf="discapacidadSeleccionado == 'ciegas'">
            <p>Apoyo de medio de lectura:</p>
            <input type="radio" id="apoyo_audio" name="lectura" value="apoyo_audio">
            <label for="apoyo_audio">Audio</label><br>
    
            <input type="radio" id="apoyo_braille" name="lectura" value="apoyo_braille">
            <label for="apoyo_braille">Braille</label><br>
    
            <input type="radio" id="no_apoyo_lectura" name="lectura" value="no_apoyo_lectura">
            <label for="no_apoyo_lectura">No requiero apoyo</label><br><br>
          </div>
    
          <div *ngIf="discapacidadSeleccionado == 'baja_vision'">
            <p>Apoyo de medio de lectura:</p>
            <input type="radio" id="apoyo_audio" name="lectura" value="apoyo_audio">
            <label for="apoyo_audio">Audio</label><br>
    
            <input type="radio" id="apoyo_braille" name="lectura" value="apoyo_braille">
            <label for="apoyo_braille">Braille</label><br>
    
            <input type="radio" id="apoyo_macrotipo" name="lectura" value="apoyo_macrotipo">
            <label for="apoyo_macrotipo">Macrotipo</label><br>
    
            <input type="radio" id="no_apoyo_lectura" name="lectura" value="no_apoyo_lectura">
            <label for="no_apoyo_lectura">No requiero apoyo</label><br><br>
          </div>
    
          <div *ngIf="discapacidadSeleccionado == 'ciegas'">
            <p>Apoyo de medio de escritura:</p>
            <input type="radio" id="apoyo_braille" name="escritura" value="apoyo_braille">
            <label for="apoyo_braille">Braille</label><br>
    
            <input type="radio" id="no_apoyo_lectura" name="escritura" value="no_apoyo_lectura">
            <label for="no_apoyo_lectura">No requiero apoyo</label><br><br>
          </div>
    
          <div *ngIf="discapacidadSeleccionado == 'baja_vision'">
            <p>Apoyo de medio de escritura:</p>
            <input type="radio" id="apoyo_braille" name="escritura" value="apoyo_braille">
            <label for="apoyo_braille">Braille</label><br>
    
            <input type="radio" id="apoyo_macrotipo" name="escritura" value="apoyo_macrotipo">
            <label for="apoyo_macrotipo">Macrotipo</label><br>
    
            <input type="radio" id="no_apoyo_lectura" name="escritura" value="no_apoyo_lectura">
            <label for="no_apoyo_lectura">No requiero apoyo</label><br><br>
          </div>
            
          <div *ngIf="discapacidadSeleccionado == 'señante'">
              <p>Apoyo de medio de comunicación:</p>
              <input type="radio" id="apoyo_lsc" name="comunicacion" value="apoyo_lsc">
              <label for="apoyo_lsc">Lenguaje de señas colombiana</label><br>
    
              <input type="radio" id="no_apoyo_comunicacion" name="comunicacion" value="no_apoyo_comunicacion">
              <label for="no_apoyo_comunicacion">No requiero apoyo</label><br><br>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Aceptar</button>
      </div>
    </div>
  
  </ng-template>

<router-outlet></router-outlet>
